.resume-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.resume-contents {
  flex: 0 0 auto;
  width: 100%;
  margin: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-twounits);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.resume-table-1 {
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
}
.resume-th {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #3498db;
}
.resume-text {
  color: #ffffff;
  width: 20%;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.resume-text01 {
  color: #ffffff;
  width: 20%;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.resume-text02 {
  color: #ffffff;
  width: 20%;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.resume-text03 {
  color: #ffffff;
  width: 20%;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.resume-text04 {
  color: #ffffff;
  width: 20%;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.resume-td {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: #FAFAFA;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.resume-text05 {
  color: #434343;
  width: 20%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-text06 {
  color: #434343;
  width: 20%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-text07 {
  color: #434343;
  width: 20%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-text08 {
  color: #434343;
  width: 20%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-text09 {
  color: #434343;
  width: 20%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-td1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: #FAFAFA;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.resume-text10 {
  color: #434343;
  width: 20%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-text11 {
  color: #434343;
  width: 20%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-text12 {
  color: #434343;
  width: 20%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-text13 {
  color: #434343;
  width: 20%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-text14 {
  color: #434343;
  width: 20%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-td2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #FAFAFA;
}
.resume-text15 {
  color: #434343;
  width: 20%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-text16 {
  color: #434343;
  width: 20%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-text17 {
  color: #434343;
  width: 20%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-text18 {
  color: #434343;
  width: 20%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-text19 {
  color: #434343;
  width: 20%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-contents1 {
  flex: 0 0 auto;
  width: 100%;
  margin: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-twounits);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.resume-table-2 {
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
}
.resume-th1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #3498db;
}
.resume-text20 {
  color: #ffffff;
  width: 25%;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.resume-text21 {
  color: #ffffff;
  width: 25%;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.resume-text22 {
  color: #ffffff;
  width: 25%;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.resume-text23 {
  color: #ffffff;
  width: 25%;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.resume-td3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #FAFAFA;
}
.resume-text24 {
  color: #434343;
  width: 25%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-text25 {
  color: #434343;
  width: 25%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-text26 {
  color: #434343;
  width: 25%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.resume-text27 {
  color: #434343;
  width: 25%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
